@import 'config';
@import 'color_picker';
@import 'menu';

* {
    box-sizing: border-box;
}



body {
    @include background();
 
    height: 100%;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    line-height: 1.5;   

    //background: $primary-color; 
    //color: set-text-color($primary-color);

    @include  theme-colors($light-theme: false);
    html.light & {
        @include theme-colors($light-theme: true);
      }
    
}  

   

    
// horizontal nav
.toggle-theme {
    cursor: pointer;
    @include easeOut;
    &:hover {
        //color: $secondary-color;
        html.yellow &   {
            color: set-secondary-color($yellow-theme: true);
            }
            html.blue &  {
                color: set-secondary-color($blue-theme: true, $yellow-theme: false);
        
                }
            html.green &   {
                color: set-secondary-color($green-theme: true, $yellow-theme: false);
                }
            
            html.red &   {
                color: set-secondary-color($red-theme: true, $yellow-theme: false);
         
                }
                
        @include easeOut();
    }

} 


//headings
h1, h2, h3 {
    margin: 0;
    font-weight: 400;
    &.lg-heading {
        font-size: 6rem;
    }
    &.sm-heading {
        margin-bottom: 2rem;
        padding: 0.2rem 1rem;
        background-color: rgba(lighten(set-theme-color($light-theme: false),2),0.5);

        html.light & {
            background-color: rgba(lighten(set-theme-color($light-theme: true),2),0.5);
        }
    }
}

a {
    //color: #fff;
    color: set-text-color($light-theme: false);
    html.light & {
       color: set-text-color($light-theme: true);
      }
    text-decoration: none;
}

header {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 8vh;
    display: flex;
    //flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    margin-left: 1rem;
    //padding-bottom: 10rem;
    //border-bottom: solid 1px #fff;


}

.text-secondary {
    html.yellow &   {
        color: set-secondary-color($yellow-theme: true);
        }
        html.blue &  {
            color: set-secondary-color($blue-theme: true, $yellow-theme: false);
    
            }
        html.green &   {
            color: set-secondary-color($green-theme: true, $yellow-theme: false);
            }
        
        html.red &   {
            color: set-secondary-color($red-theme: true, $yellow-theme: false);
     
            }

}

main {
    padding: 4rem;
    //height: 100%;
    // 100vh - heihgt of the footer
    min-height: calc(100vh-60px);
    .icons {
        margin-top: 1rem;

        a {
            padding: 0.4rem;
            &:hover {
                //color: $secondary-color;
                html.yellow &   {
                    color: set-secondary-color($yellow-theme: true);
                    }
                    html.blue &  {
                        color: set-secondary-color($blue-theme: true, $yellow-theme: false);
                
                        }
                    html.green &   {
                        color: set-secondary-color($green-theme: true, $yellow-theme: false);
                        }
                    
                    html.red &   {
                        color: set-secondary-color($red-theme: true, $yellow-theme: false);
                 
                        }
            
                @include easeOut();
            }
        }
    }

    &#home {
        overflow: hidden;
        h1 {
            margin-top: 20vh;
        }
    }
}

//about page

.about-info {
    display: grid;
    grid-gap: 30px;
    grid-template-areas: 
    'bioimage bio bio'
    'job1 job2 job3';
    grid-template-columns: repeat(3, 1fr);

    .bio-image {
        grid-area: bioimage;
        margin: auto;
        width: 250px;
        height: 250px;
        background: url('../img/FRBIOPIC.jpg');
        border-radius: 50%;
        //border: solid 3px $secondary-color;
        html.yellow &   {
            border: solid 3px set-secondary-color($yellow-theme: true);
            }
            html.blue &  {
                border: solid 3px set-secondary-color($blue-theme: true, $yellow-theme: false);
        
                }
            html.green &   {
                border: solid 3px set-secondary-color($green-theme: true, $yellow-theme: false);
                }
            
            html.red &   {
                border: solid 3px set-secondary-color($red-theme: true, $yellow-theme: false);
         
                }
    
    }
    
    .bio {
        grid-area: bio;
        font-size: 1.5rem;
    }
    
    .job-1 {
        grid-area: job1;
    }
    
    .job-2 {
        grid-area: job2;
    }
    
    .job-3 {
        grid-area: job3;
    }

    h3 {
        html.yellow & {
            color: darken(set-secondary-color($yellow-theme: true),10); 
    }  
    html.blue &  {
        color: darken(set-secondary-color($blue-theme: true, $yellow-theme:false),10);           
            }
    html.green &   {
        color: darken(set-secondary-color($green-theme: true , $yellow-theme:false),10);                 
          }

    html.red &   {
        color: darken(set-secondary-color($red-theme: true, $yellow-theme: false ),10);             
            }                
    }     

    
    .job {       
        border-top-left-radius: 5%;
        border-top-right-radius: 5%;
        padding: 0.5rem;
        //border-bottom: $secondary-color 5px solid;
        html.yellow &   {
            border-bottom: solid 5px set-secondary-color($yellow-theme: true);
            }
            html.blue &  {
                border-bottom: solid 5px set-secondary-color($blue-theme: true, $yellow-theme: false);
        
                }
            html.green &   {
                border-bottom: solid 5px set-secondary-color($green-theme: true, $yellow-theme: false);
                }
            
            html.red &   {
                border-bottom: solid 5px set-secondary-color($red-theme: true, $yellow-theme: false);
         
                }
 

        background: lighten(set-theme-color($light-theme: false),5);
 
         html.light & { background: lighten(set-theme-color($light-theme: true),30);
         }
         
    }
}

// project / work css

.projects {
    display: grid;
    grid-gap: 0.7rem;
    grid-template-columns: repeat(3,1fr);

    img {
        width: 100%;
        //border: 3px #fff solid;
        border: 3px set-text-color($light-theme: false) solid;
        html.light & {
            border: 3px set-text-color($light-theme: true) solid;
            &:hover {
                opacity: 0.5;
                //border-color: $secondary-color;
                html.yellow & {
                    border-color: set-secondary-color($yellow-theme: true) ; 
                }  
                
                html.blue &  {
                    border-color: set-secondary-color($blue-theme : true, $yellow-theme: false) ; 
                }
                html.green &   {
                    border-color: set-secondary-color($green-theme : true, $yellow-theme: false) ; 
                }
        
                html.red &   {
                    border-color: set-secondary-color($red-theme : true, $yellow-theme: false) ; 
                }                
    
                @include easeOut;
            }
        }
        &:hover {
            opacity: 0.5;
            //border-color: $secondary-color;
            html.yellow & {
                border-color: set-secondary-color($yellow-theme: true) ; 
            }  
            
            html.blue &  {
                border-color: set-secondary-color($blue-theme : true, $yellow-theme: false) ; 
            }
            html.green &   {
                border-color: set-secondary-color($green-theme : true, $yellow-theme: false) ; 
            }
    
            html.red &   {
                border-color: set-secondary-color($red-theme : true, $yellow-theme: false) ; 
            }                

            @include easeOut;
        }
       
    }
}

// contact page

.boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 1rem;

    div {
        font-size:  2rem;
        //border: 3px #fff solid;
        border: 3px set-text-color($light-theme: false) solid;
        html.light & {
            border: 3px set-text-color($light-theme: true) solid;
        }
        padding: 1.5rem 2.5rem;
        margin-bottom: 3rem;
    &:hover {
        padding: 1.3rem 2.3rem;
        //background: $secondary-color;
        html.yellow & {
            background: set-secondary-color($yellow-theme: true); 
    }  
        html.blue &  {
        background: set-secondary-color($blue-theme: true, $yellow-theme:false);           
            }
        html.green &   {
        background: set-secondary-color($green-theme: true , $yellow-theme:false);                 
          }
    
        html.red &   {
        background: set-secondary-color($red-theme: true, $yellow-theme: false );             
            }                
            color: set-text-color($secondary-color);

        span {
            color: set-text-color($secondary-color);        
        }

    }    
    }
}

// button styles
.btn {
    display: block;
    padding: 0.5rem 1rem;
    border: 0;
    margin-bottom: 0.3rem;
    &:hover {
        background: $secondary-color;
        color: set-text-color($secondary-color);
    }
}

.btn-dark {
    @extend .btn;
    //background: darken($primary-color,50);
    html.yellow & {
        background: darken(set-secondary-color($yellow-theme: true),50); 
}  
    html.blue &  {
    background: darken(set-secondary-color($blue-theme: true, $yellow-theme:false),50);           
        }
    html.green &   {
    background: darken(set-secondary-color($green-theme: true , $yellow-theme:false),50);                 
      }

    html.red &   {
    background: darken(set-secondary-color($red-theme: true, $yellow-theme: false ),50);             
        }                


    color: #fff;
}


.btn-light {
    @extend .btn;
    //background: lighten($primary-color,50);
    html.yellow.light & {
        background: lighten(set-secondary-color($yellow-theme: true),20); 
}  
    html.blue.light &  {
    background: lighten(set-secondary-color($blue-theme: true, $yellow-theme:false),20);           
        }
    html.green.light &   {
    background: lighten(set-secondary-color($green-theme: true , $yellow-theme:false),20);                 
      }

    html.red.light &   {
    background: lighten(set-secondary-color($red-theme: true, $yellow-theme: false ),20);             
        }                


    color: #333;

}


#main-footer {
    
    bottom: 0;
    width: 100%;
    position: relative;
    text-align: center;
    padding: 1rem;
    overflow: hidden;
        

    //background: darken($primary-color,10);
    background-color: darken(set-theme-color($light-theme: false),10);
   //background-color: lighten(set-secondary-color($yellow-theme: true),10);
         
        html.yellow.light & {
                color: lighten(set-secondary-color($yellow-theme: true),10); 
        }                  
        html.blue.light &  {
                color: lighten(set-secondary-color($blue-theme: true, $yellow-theme:false),10);           
                    }
        html.green.light &   {
                color: lighten(set-secondary-color($green-theme: true , $yellow-theme:false),10);                 
                  }
        
        html.red.light &   {
                color: lighten(set-secondary-color($red-theme: true, $yellow-theme: false ),10);             
                    }
     
    
            
        
    //color: set-text-color($primary-color);
    color: set-text-color($light-theme: false);
    html.light & {
       color: set-text-color($light-theme: true);
      }

    height: 60px;
}

@import 'mobile';
