<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta
  http-equiv="Content-Security-Policy"
  content="default-src 'self'; base-uri 'self'; object-src 'none'; img-src 'self'; style-src 'self'; script-src 'self'; font-src 'self'; connect-src 'self'; form-action 'none'"
/>
<meta name="referrer" content="strict-origin-when-cross-origin" />
<title>@@TITLE@@</title>
<meta name="description" content="@@DESC@@" />
<meta name="author" content="Frederik Roeland" />
<link rel="canonical" href="@@CANONICAL@@" />
<meta property="og:type" content="website" />
<meta property="og:title" content="@@TITLE@@" />
<meta property="og:description" content="@@DESC@@" />
<meta property="og:image" content="@@OG_IMAGE@@" />
<meta property="og:url" content="@@CANONICAL@@" />
<meta name="twitter:card" content="summary_large_image" />
<link rel="icon" href="@@ROOT@@favicon.svg" type="image/svg+xml" />
<link rel="stylesheet" href="@@ROOT@@assets/styles.css" />
